<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><meta charset="UTF-8"><title>Đăng nhập</title></head>
<body>
<h3>Đăng nhập</h3>
<div th:if="${param.error}">Sai thông tin đăng nhập</div>
<div th:if="${param.logout}">Bạn đã đăng xuất</div>
<div th:if="${param.registered}">Đăng ký thành công, mời đăng nhập</div>

<form th:action="@{/login}" method="post">
  <label>Tên đăng nhập / Email: <input type="text" name="username"/></label><br/>
  <label>Mật khẩu: <input type="password" name="password"/></label><br/>
  <button type="submit">Đăng nhập</button>
</form>
</body>
</html>
